/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generali */

.flex {
    display: flex;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.color-red {
    color: red;
}

a {
    color: white;
    text-decoration: none;
}


/* Header */

header {
    position: fixed;
    background-color: #ff6900;
    width: 100%;
    z-index: 3;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}


.logo-boolean {
    height: 25px;
}

.icons-header {
    color: white;
}


/* Main */

main {
    padding-top: 100px;
}

img {
    max-width: 100%;
}

.cards {
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: calc(100% / 3 - (20px / 3));
    cursor: pointer;
    margin-bottom: 20px;
}

.card-img-and-label {
    position:relative
}

.card-description {
    font-size: 10px;
}

.cuore {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 0 8px;
    margin-top: 5px;
    font-size: 18px;
}

.cuore:hover {
    color: red;
}

.hover-img {
    position: relative;
    display: none;
}

.nohover-img {
    display: inline-block;
}

.card:hover .nohover-img {
    display: none;
}

.card:hover .hover-img {
    display: inline-block;
}

/* Etichette sconti e sostenibilità */

.label {
    position: absolute;
    bottom: 30px;
    left: 0;
    gap: 5px;
}

.discount-label {
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 3px 6px;
}

.sostenibilita-label {
    background-color: green;
    color: white;
    font-size: 10px;
    padding: 3px 6px;
}


/* Footer */

footer {
    background-color: rgb(26, 26, 26);
    width: 100%;
}

a {
    text-decoration: none;
}

.a-footer {
    gap: 10px;
}

.navbar-contatti {
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.info-boolando, .social-boolando {
 color: white;
 font-size: 12px;
 line-height: 22px;
}