/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

.flex {
    display: flex;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.color-red {
    color: red;
}

/* Header */

header {
    position: fixed;
    background-color: #ff6900;
    width: 100%;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

.categories a{
    color: white; 
    text-decoration: none;
}

.logo-boolean {
    height: 25px;
}

.icons-header {
    color: white;
}

/* Main */

main {
    padding-top: 100px;
}

img {
    max-width: 100%;
}

.cards {
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: calc(100% / 3 - (20px / 3));
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.card-description {
   font-size: 10px; 
}